//
// Hero section
//

.hero-section
  &__row
  &__col
.hero-section__col:last-child
  margin-bottom: 0

  
.hero-article
  position: relative
  border-radius: 30px
  overflow: hidden
  max-height: 500px
  &__bg
    display: flex
    &-img
      object-fit: cover
      object-position:  center bottom
      width: 100%
      height: auto
  &__content
    position: absolute
    left: 0
    right: 0
    bottom: 0
    top: 0
    z-index: 2
    background-image: $blackout-img

.hero-article-content
  display: flex
  flex-direction: column
  justify-content: center
  color: $white-color
  padding: 5vw
  height: 100%
  font-family: "Gilroy-Regular"
  &__category
    font-family: "Gilroy-Bold"
    text-transform: uppercase
    font-size: 16px
    letter-spacing: 2px
    margin-bottom: 20px
  &__title
    font-family: "Gilroy-Bold"
    font-size: 60px
  &__text
    font-size: 30px
    line-height: 40px
    margin-bottom: 20px
  &__date
    font-family: "Gilroy-Bold"
    text-transform: uppercase
    font-size: 16px
    letter-spacing: 2px


.featured-articles
  display: flex
  flex-direction: column
  &__header
    display: flex
    align-items: baseline
    justify-content: space-between
    color: $black-color
    font-family: "Gilroy-Bold"
    margin-bottom: 30px
    &-title
      font-size: 25px
    &-link
      font-size: 14px
      text-transform: uppercase
      color: $black-color
      &:hover,
      &:active,
      &:focus
        color: $black-color
  &__content

.featured-articles-post
  font-family: "Gilroy-SemiBold"
  margin-bottom: 30px
  &__category
    letter-spacing: 2px
    font-size: 12px
    margin-bottom: 10px
    text-transform: uppercase
  &__title
    font-family: "Gilroy-Bold"
    margin-bottom: 10px
    font-size: 20px
  &__text
    font-size: 18px
    line-height: 30px
    margin-bottom: 10px
  &__date
    font-size: 12px
    line-height: 25px
    text-transform: uppercase
    letter-spacing: 2px
  &:last-child
    margin-bottom: 0

+media-breakpoint-down($xl)

  .hero-article-content__title
    font-size: 40px
  .hero-article-content__text
    font-size: 26px
    line-height: 30px
  .hero-section__col
    margin-bottom: 30px
  .featured-articles-post__text
    font-size: 16px
  .featured-articles__header-title
    font-size: 22px

+media-breakpoint-down($md)
  .hero-article-content__title
    font-size: 32px
  .hero-article-content__text
    font-size: 22px
    line-height: 26px
  .hero-article-content__category
    font-size: 14px
  .hero-article-content__date
    font-size: 14px

+media-breakpoint-down($sm)
  .hero-article-content__text
    display: none
  .featured-articles-post__text
    font-size: 14px
  .featured-articles-post__date
    font-size: 10px


//
// categories-section
//

.categories-section
  display: grid
  grid-template-columns: repeat(4, 1fr )
  grid-template-rows: auto
  grid-gap:  40px
  &__item
    position: relative
    overflow: hidden
    border-radius: 30px
    
    &-bg
      display: flex
      height: 400px
      &-img
        object-fit: cover
        object-position: center
        height: auto
        width: 100%
    &-content
      position: absolute
      left: 0
      right: 0
      top: 0
      bottom: 0
      background-image: $blackout-img
      transition: $transition-color
      z-index: 2
      &-text
        display: flex
        align-items: center
        height: 100%
        justify-content: center
        font-family: "Gilroy-Bold"
        color: #fff
        letter-spacing: 2px
        font-size: 25px
        text-transform: uppercase

.h3
  text-transform: uppercase
  color: #000
  letter-spacing: 2px
  margin-bottom: 30px
  font-size: 30px
  font-family: "Gilroy-Bold"

+media-breakpoint-down($lg)
  .categories-section
    grid-template-columns: repeat(3, 1fr )
  .categories-section__item-content-text,
  .recipes-item__content-text
    font-size: 20px
+media-breakpoint-down($md)
  .categories-section
    grid-template-columns: repeat(2, 1fr )
  .categories-section
    justify-content: center

+media-breakpoint-down($sm)
  .categories-section
    grid-template-columns: minmax(150px, 350px)
    justify-content: center

//
// blog-articles
//

.blog-articles
  &__title
  &__container
    display: grid
    grid-template-columns: repeat(3, 1fr)
    grid-gap: 40px

.blog-articles-item
  border-radius: 20px
  overflow: hidden
  background-color: #fff
  box-shadow: $bx-sh
  &__bg
    height: 300px
    display: flex
    &-img
      object-position: center
      object-fit: cover
      width: 100%
      height: auto
  &__content
    padding: 40px
    color: #000
    font-family: "Gilroy-SemiBold"
    &-category
      letter-spacing: 2px
      font-size: 14px
      text-transform: uppercase
      margin-bottom: 20px
    &-title
      font-size: 25px
      font-family: "Gilroy-Bold"
      margin-bottom: 10px
    &-text
      font-size: 15px
      margin-bottom: 20px
      line-height: 25px
    &-date
      text-transform: uppercase
      font-size: 14px
      letter-spacing: 2px


+media-breakpoint-down($xl)
  .blog-articles-item__bg
    height: 200px


+media-breakpoint-down($lg)
  .blog-articles__container
    grid-template-columns: repeat(2, 1fr)
  .blog-articles-item__bg
    height: 250px

+media-breakpoint-down($md)
  .blog-articles__container
  .blog-articles-item__bg
    height: 200px
  .blog-articles-item__content-category
    font-size: 12px
  .blog-articles-item__content-title
    font-size: 20px
  .blog-articles-item__content-text
    font-size: 13px
  .blog-articles-item__content-date
    font-size: 12px
+media-breakpoint-down($sm)
  .blog-articles__container
    grid-template-columns: minmax(150px, 350px)
    justify-content: center


//
// recipes-section
//

.recipes-section
  &__title
  &__content
    display: grid
    grid-template-columns: repeat(3, 1fr)
    grid-gap: 40px

.recipes-item
  position: relative
  overflow: hidden
  border-radius: 20px
  &__bg
    display: flex
    height: 400px
    &-img
      object-position: center
      object-fit: cover
      width: 100%
      height: auto
  &__content
    position: absolute
    left: 0
    right: 0
    bottom: 0
    top: 0
    z-index: 1
    background-image: $blackout-img
    transition: $transition-color
    &-text
      display: flex
      align-items: center
      height: 100%
      justify-content: center
      font-family: "Gilroy-Bold"
      color: #fff
      letter-spacing: 2px
      font-size: 25px
      text-transform: uppercase


+media-breakpoint-down($xl)
  .recipes-item__bg
    height: 300px
+media-breakpoint-down($lg)
  .recipes-item__bg
    height: 200px
  .recipes-item__content-text
    font-size: 20px
+media-breakpoint-down($md)
  .recipes-item__bg
    height: 250px
  .recipes-section__content
    grid-template-columns: repeat(2, 1fr)
+media-breakpoint-down($md)
  .recipes-section__content
    grid-template-columns: minmax(150px, 350px)
    justify-content: center


//
// programmes-section
//

.programmes-section
  &__title
  &__content
    display: grid
    grid-template-columns: repeat(3, 1fr)
    grid-gap: 40px

.programmes-item
  position: relative
  overflow: hidden
  border-radius: $bdrs-pallet
  box-shadow: $bx-sh
  &__bg
    display: flex
    height: 300px
    &-img
      object-position: center
      object-fit: cover
      width: 100%
      height: auto
  &__content
    display: flex
    flex-direction: column
    height: calc( 100% - 300px )
    justify-content: space-between
    padding: 40px
    font-family: "Gilroy-SemiBold"
    &-title
      text-transform: uppercase
      font-family: "Gilroy-Bold"
      font-size: 20px
      letter-spacing: 2px
      margin-bottom: 20px
    &-text
      font-size: 18px
      line-height: 30px
      margin-bottom: 30px
    &-btn


+media-breakpoint-down($xl)
  .programmes-section__content
  .programmes-item__bg
    height: 250px
  .programmes-item__content
    height: calc( 100% - 250px)
  .programmes-item__content-text
    font-size: 16px
    line-height: 26px


+media-breakpoint-down($lg)
  .programmes-section__content
    grid-template-columns: repeat(2, 1fr)
  .programmes-item__bg
    height: 300px
  .programmes-item__content
    height: calc( 100% - 300px)

+media-breakpoint-down($md)
  .programmes-item__bg
    height: 250px
  .programmes-item__content
    height: calc( 100% - 250px)
  .programmes-item__content
    padding: 30px
  .programmes-item__content-title
    font-size: 16px
  .programmes-item__content-text
    font-size: 14px
  .btn-link
    font-size: 14px

+media-breakpoint-down($sm)
  .programmes-section__content
    grid-template-columns: minmax(150px, 350px)
    justify-content: center
  .programmes-item__content
    padding: 40px