//
// blog-recipes
//

.blog-recipes-section .blog-hero-full-slide
  max-width: initial
.blog-recipes-section .blog-hero-full-slide__TITLE
  text-align: center
  font-size: 90px
  letter-spacing: 5px
  text-transform: uppercase

+media-breakpoint-down($xl)
  .blog-recipes-section .blog-hero-full-slide__TITLE
    font-size: 60px
+media-breakpoint-down($md)
  .blog-recipes-section .blog-hero-full-slide__TITLE
    font-size: 40px

//
// recipes-status-section
//

.recipes-status-section
  background-color: $accent-dark-color
  width: 100%
  position: sticky
  top: 100px
  z-index: 3

.recipes-status-container
  color: #fff
  display: grid
  grid-template-columns: repeat(4, 1fr )
  padding: 25px 0
  grid-gap: 40px
  
.recipes-status-item
  display: flex
  align-items: center
  justify-content: center
  &__icon
    margin-right: 20px
    width: 50px
    height: 50px
    &-img
      width: 100%
      height: auto
  &__content
    &-title
      text-transform: uppercase
      letter-spacing: 2px
      font-size: 16px
      font-family: "Gilroy-Bold"
      line-height: normal
    &-state
      font-family: "Gilroy-SemiBold"
      font-size: 20px


+media-breakpoint-down($xl)
  .recipes-status-item__icon
    width: 30px
    height: 30px
  .recipes-status-item__content-title
    font-size: 14px
  .recipes-status-item__content-state
    font-size: 16px
+media-breakpoint-down($lg)
  .recipes-status-item__icon
    width: 30px
    height: 30px
    margin-right: 10px
  .recipes-status-item__content-title
    font-size: 12px
  .recipes-status-item__content-state
    font-size: 14px
+media-breakpoint-down($md)
  .recipes-status-section
    position: relative
    top: 0
  .recipes-status-container
    grid-template-columns: repeat(2, 1fr )

//
// blog-recipes-content
//

.blog-recipes-content
  display: grid
  grid-template-columns: 1fr 1.5fr
  grid-gap: 60px 120px
  
.blog-recipes-content-container
  margin-bottom: 80px
  font-family: "Gilroy-Medium"
  &__title
  &__content

.blog-recipes-content-container__content ul,
.blog-content-list
  list-style: none
  padding-left: 0
  margin-bottom: 0

+media-breakpoint-down($xl)
  .blog-recipes-content
    grid-template-columns: 1fr


.recipes-table
  display: grid
  grid-template-columns: 1fr
  grid-gap:  40px 0
  margin: 40px 0 0
  &__row

.recipes-table-title
  display: grid
  grid-template-columns: 2fr 1fr 1fr
  line-height: 1
  font-family: "Gilroy-Bold"
  text-transform: uppercase
  font-size: 16px
  align-items: center
  border-bottom: 1px dotted #ccc
  padding-bottom: 5px
  &__col
    text-align: center
    letter-spacing: 2px
.recipes-table-title__col:first-child
  text-align-last: left
  letter-spacing: 2px
  

.recipes-table__row
  display: flex
  flex-direction: column
  &-sub

.recipes-table__row-sub
  display: grid
  grid-template-columns: 2fr 1fr 1fr
  border-bottom: 1px dotted #ccc
  &-col

.recipes-table__row-sub-col
  text-align: center
.recipes-table__row-sub-col:first-child
  text-align-last: left

.recipes-table-col-title
  font-family: "Gilroy-Bold"

+media-breakpoint-down($sm)
  .recipes-table-title__col
    font-size: 12px
  
//
// related-recipes-section
//

.related-recipes-section
  &__title
  &__content

.recipes-pallet
  display: grid
  grid-template-columns: repeat(3, 1fr)
  grid-gap: 40px
  
.recipes-pallet-item
  position: relative
  overflow: hidden
  border-radius: $bdrs-pallet
  box-shadow: $bx-sh
  cursor: pointer
  &__bg
    display: flex
    height: 300px
    overflow: hidden
    &-img
      object-position: center
      object-fit: cover
      width: 100%
      height: auto
      transition: $transition-all-long 
  &__content
    display: flex
    flex-direction: column
    height: calc( 100% - 300px )
    justify-content: space-between
    padding: 40px
    font-family: "Gilroy-SemiBold"
    &-title
      text-transform: uppercase
      font-family: "Gilroy-Bold"
      font-size: 20px
      letter-spacing: 2px
      margin-bottom: 20px
      line-height: 1.9
    &-table
    &-text
      font-size: 18px
      line-height: 30px
      margin-bottom: 30px
    &-btn

.recipes-pallet-item:hover .recipes-pallet-item__bg-img,
.recipes-pallet-item:active .recipes-pallet-item__bg-img,
.recipes-pallet-item:focus .recipes-pallet-item__bg-img
  transform: scale(1.2)

.recipes-pallet-item:hover .recipes-pallet-item__content-title,
.recipes-pallet-item:active .recipes-pallet-item__content-title,
.recipes-pallet-item:focus .recipes-pallet-item__content-title
  color: $accent-color

.recipe-table-row
  display: flex
  justify-content: space-between
  margin-bottom: 20px
  &__col
    &-title
      text-transform: uppercase
      font-family: "Gilroy-Bold"
      font-size: 14px
      letter-spacing: 2px
      margin-bottom: 10px
    &-text
      font-size: 16px

+media-breakpoint-down($xl)
  .blog-content
    display: none
  .blog-recipes-content-container
    margin-bottom: 50px
  .blog-recipes-content-container:last-child
    margin-bottom: 0
  .recipes-pallet-item__bg
    height: 250px
  .recipes-pallet-item__content
    height: calc( 100% - 250px)
  .recipes-pallet-item__content-text
    font-size: 14px
    line-height: 26px
  .recipe-table-row
    flex-direction: column
  .recipe-table-row__col
    display: flex
    justify-content: space-between
  .recipes-pallet-item__content-title
    font-size: 18px
  .recipes-pallet-item__content-text
    margin-bottom: 20px

+media-breakpoint-down($lg)
  .recipes-pallet
    grid-template-columns: repeat(2, 1fr)
  .recipes-pallet-item__bg
    height: 300px
  .recipes-pallet-item__content
    height: calc( 100% - 300px)


+media-breakpoint-down($md)
  .blog-recipes-content-container
    margin-bottom: 30px
  .recipes-table,
  .blog-recipes-content-container__title
    margin-top: 20px
  .recipes-pallet-item__bg
    height: 250px
  .recipes-pallet-item__content
    height: calc( 100% - 250px)
  .recipes-pallet-item__content
    padding: 30px
  .recipes-pallet-item__content-title
    font-size: 16px
  .recipe-table-row__col-title
    font-size: 12px
  .recipe-table-row__col-text
    font-size: 14px

+media-breakpoint-down($sm)
  .recipes-pallet
    grid-template-columns: minmax(150px, 350px)
    justify-content: center
  .recipes-pallet-item__content
    padding: 25px

+media-breakpoint-up($xl)
  .blog-content_mobile
    display: none