
///
/// Front page
///



//
// offer-info-section
//

.offer-info-section
  background-color: $accent-color
  position: sticky
  top: 100px
  z-index: 11

.admin-bar .offer-info-section
  top: 132px
@media (max-width: 782px)
  .admin-bar .offer-info-section
    top: 146px

.offer-info-container
  color: #fff
  font-family: "Gilroy-Bold"
  text-align: center
  &__text
    text-transform: uppercase
    font-size: 16px
    letter-spacing: 2px
    line-height: normal
    padding: 10px 0
    text-overflow: ellipsis
    white-space: nowrap
    overflow: hidden

+media-breakpoint-down($sm)
  .offer-info-container__text
    font-size: 10px

//
// Hero section
//

.front-page-hero

.front-page-hero .blog-hero-full-slide
  // max-width: 650px

.front-page-hero .blog-hero-full-slide__subtitle
  font-size: 24px
  line-height: 1.5

.blog-hero-full-slide__logo
  max-width: 250px
  &-img
    width: 100%
    height: auto


.btn-il.btn-il_content.btn-il_content_white
  background-color: transparent
  border: 2px solid #fff
  &:hover,
  &:active,
  &:focus
    background-color: $accent-color
    border: 2px solid $accent-color

.front-page-hero .blog-hero-full-slide__btn,
.front-page-hero .blog-hero-full-slide__subtitle
  text-align: left

.front-page-hero .blog-hero-full-slide__btn a:last-child
  margin-left: 20px
  
.front-page-hero .blog-hero-full-slide__btn a
  margin-bottom: 20px


.blog-hero-full-slide__TITLE.h1
  margin-bottom: 20px

+media-breakpoint-down($md)
  .front-page-hero .blog-hero-full-slide__subtitle
    font-size: 22px
    text-align: center
  .front-page-hero .blog-hero-full-slide,
  .front-page-hero .blog-hero-full-slide__btn,
  .front-page-hero .blog-hero-full-slide__subtitle
    text-align: center
  .blog-hero-full-slide__logo
    text-align: center
    margin: auto
  .blog-hero-full-slide__btn
    display: flex
    flex-direction: column
  .front-page-hero .blog-hero-full-slide__btn a:last-child
    margin-left: 0


//
// partners section
//

.partners-small-section
  background-color: $accent-dark-color
  height: 100px
  &__container
    height: 100%
    color: #fff
    display: grid
    grid-template-columns: repeat(6, 1fr)
    grid-gap: 40px
    align-items: center
    justify-items: center

.partners-small-item
  max-width: 120px
  &__img
    width: 100%
    height: auto

+media-breakpoint-down($md)
  .partners-small-section
    height: initial
    padding: 20px 0
  .partners-small-section__container
    grid-template-columns: repeat(3, 1fr)


//
// section-full-height-content
//

.section-full-height-content
  &__container

.section-full-height-content-row
  display: flex
  padding: 100px 0 0 0
  &__text-block
    width: 40%
    display: flex
    align-items: center
    // justify-content: center
  &__image-block
    width: 60%
    display: flex
   
    &-img
      object-fit: cover
      width: 100%
      // height: calc( 100vh - 100px) // 100px height of the top menu
.section-full-height-content-row.section-full-height-content-row_third
  padding-bottom: 100px

.section-full-height-content-row_first .section-full-height-content-row__text-block
  order: 2
.section-full-height-content-row_first .section-full-height-content-row__image-block
  order: 1
.section-full-height-content-row_second
.section-full-height-content-row_third .section-full-height-content-row__text-block
  order: 2
.section-full-height-content-row_third .section-full-height-content-row__image-block
  order: 1

.section-full-height-content-row_first .section-full-height-content-row__image-block-img
  object-position: center
  object-fit: contain
.section-full-height-content-row_second .section-full-height-content-row__image-block-img
  object-position: center
  object-fit: contain
.section-full-height-content-row_third .section-full-height-content-row__image-block-img
  object-position: center
  object-fit: contain
  
.section-row-content
  padding: 5vh
  &__title
    margin-bottom: 20px
    font-family: "Gilroy-Bold"
    font-size: 30px
    line-height: 1.5
  &__text
    font-family: "Gilroy-Medium"
    margin-bottom: 60px
    font-size: 20px
    line-height: 2
  &__btn

+media-breakpoint-down($lg)
  .section-full-height-content-row
    padding-top: 40px
  .section-full-height-content-row.section-full-height-content-row_third
    padding-bottom: 40px
  .section-row-content
    padding: 2vh 5vw
  .section-row-content__title
    font-size: 24px
  .section-row-content__text
    font-size: 16px

+media-breakpoint-down($md)
  
+media-breakpoint-down($sm)
  .section-full-height-content-row
    flex-direction: column
  .section-full-height-content-row__text-block
    width: 100%
  .section-full-height-content-row__image-block
    width: 100%
  .section-full-height-content-row__image-block-img
    height: 50vh
  .section-full-height-content-row_second .section-full-height-content-row__text-block
    order: 2
  .section-full-height-content-row_second .section-full-height-content-row__image-block
    order: 1
  .section-row-content
    padding: 40px 25px
  .section-row-content__text
    margin-bottom: 30px
  .section-row-content
    text-align: center

  .section-full-height-content-row_first .section-full-height-content-row__image-block-img
    padding-left: 25px
    padding-right: 15px
  .section-full-height-content-row_second .section-full-height-content-row__image-block-img
    padding-left: 15px
    padding-right: 25px

  .section-full-height-content-row_third .section-full-height-content-row__image-block-img
    padding-left: 25px
    padding-right: 15px
//
// section-full-height-content
//

.section-accent-instructors
  background-color: $accent-dark-color
  color: #fff
  &__container

.instructors-accent-dark
  &__title
  &__pallet
    margin-bottom: 60px
  &__btn
    text-align: center

.instructors-accent-dark__btn .btn-accent
  padding: 16px 40px

+media-breakpoint-down($md)
  .instructors-accent-dark__btn .btn-accent
    padding: 10px 20px


//
// section-accent-instructors
//

.section-accent-instructors
  &__container

.instructors-accent-dark
  &__title
  &__pallet
  &__btn

.pallet-round-container
  display: grid
  grid-template-columns: repeat(4, 1fr)
  grid-gap: 40px

.pallet-round-item
  color: #000
  background-color: #fff
  position: relative
  overflow: hidden
  border-radius: $bdrs-pallet
  box-shadow: $bx-sh
  height: 100%
  cursor: pointer
  &__bg
    margin: 40px auto 20px
    display: flex
    height: 150px
    width: 150px
    border-radius: 50%
    overflow: hidden
    &-img
      object-position: center
      object-fit: cover
      width: 100%
      height: auto
      transition: $transition-all-long 
  &__content
    display: flex
    flex-direction: column
    text-align: center
    padding: 40px
    padding-top: 0
    &-title
      margin-bottom: 10px
      letter-spacing: 2px
      text-transform: uppercase
      font-size: 20px
      line-height: 2
      font-family: "Gilroy-Bold"
    &-text
      font-size: 18px
      line-height: 1.7
      font-family: "Gilroy-Medium"
      margin-bottom: 30px
    &-btn

.pallet-round-item:hover .pallet-round-item__bg-img,
.pallet-round-item:active .pallet-round-item__bg-img,
.pallet-round-item:focus .pallet-round-item__bg-img
  transform: scale(1.2)


+media-breakpoint-down($xl)
  .pallet-round-container
    grid-template-columns: repeat(3, 1fr)

+media-breakpoint-down($lg)
  .pallet-round-container
    grid-template-columns: repeat(2, 1fr)
  .instructors-accent-dark__btn .btn-accent
    font-size: 12px

+media-breakpoint-down($md)
  .pallet-round-item__content
    padding: 0 30px 30px  30px
  .pallet-round-item__content-title
    font-size: 16px
  .pallet-round-item__content-text
    font-size: 14px
  .btn-link
    font-size: 12px

+media-breakpoint-down($sm)
  .pallet-round-container
    grid-template-columns: repeat(1, 1fr)
  .pallet-round-item__content
    padding: 0 40px 40px  40px



//
// section-accent-instructors
//


.section-home-programmes-section
  &__container
    &-title
      color: #000
    &-pallet

+media-breakpoint-down($lg)
  .programmes-section__content, 
  .related-articles__content
    grid-gap: 30px



//
// testimonials-home-section
//

.testimonials-home-section
  position: relative
  height: 600px
  &__bg
    position: absolute
    left: 0
    right: 0
    top: 0
    bottom: 0
    display: flex
    overflow: hidden
    
    &-img
      width: 100%
      height: auto
      object-fit: cover
      object-position: top center
  &__container
    height: 100%

.testimonials-home-section-inner
  height: 100%
  position: relative
  z-index: 2
  width: 60%
  &__title
    margin-left: auto
    margin-right: auto
    padding-top: 120px
  &__slider
    color: #fff
    padding-bottom: 60px

.carousel-control-next, 
.carousel-control-prev
  width: 30px
.carousel-control-next-icon,
.carousel-control-prev-icon
  width: 30px
  height: 30px

.carousel-item
  padding: 0 15%
  text-align: center

.carousel-indicators
  margin-bottom: 0
  bottom: -45px
.carousel-indicators li
  width: 15px
  height: 15px
  border-radius: 50%
  border: none
  margin: 0 10px

.carousel-item__text
  margin-bottom: 30px
  font-size: 25px
  line-height: 1.6
  font-family: "Gilroy-Medium"
.carousel-item__subscription
  font-size: 20px
  line-height: 2
  margin-bottom: 20px
  font-family: "Gilroy-Medium"

+media-breakpoint-down($lg)
  .testimonials-home-section-inner
    width: 100%

+media-breakpoint-down($md)
  .carousel-item__text
    font-size: 18px
  .carousel-item__subscription
    font-size: 16px


.carousel
  position: initial

.carousel-indicators
  bottom: 50px
+media-breakpoint-down($sm)
  .testimonials-home-section
    height: 400px
  .testimonials-home-section-inner__title
    padding-top: 40px
  .carousel-control-prev,
  .carousel-control-next
    display: none
  .carousel-item
    padding: 0

//
// subscription-home-section
//

.subscription-home-section
  position: relative
  &__bg
    position: absolute
    top: 0
    bottom: 0
    right: 0
    left: 0
    display: flex
    &-img
      width: 100%
      height: auto
      object-position: center
      object-fit: cover

  &__container
    position: relative
    z-index: 2
    background-image: $blackout-img
    height: 100%

.subscription-home-section__container>.container
  height: 100%

.subscription-content
  display: grid
  grid-template-columns: repeat(2, 1fr)
  grid-gap: 40px
  &__text-block
    &-title
      color: #fff
    &-subtitle
      color: #fff
      margin-bottom: 10px
      margin-top: 10px
      font-size: 20px
      font-family: "Gilroy-Regular"
  &__plan-block
    display: grid
    grid-template-columns: repeat(2, 1fr)
    grid-gap: 40px
    text-align: center

.subscription-plan-item
  padding: 30px
  border: 2px solid #ffffff
  border-radius: 20px
  font-family: "Gilroy-Medium"
  &__title
    
  &__list
    margin-bottom: 20px
  &__price
    display: flex
    align-items: baseline
    justify-content: center
    color: #fff
    margin-bottom: 20px
    line-height: normal
    &-b
      margin-right: 10px
      font-size: 30px
      font-family: "Gilroy-Bold"
      color: #fff
  &__btn

.subscription-ul-property
  padding-left: 0
  margin-bottom: 0
  list-style: none
  &__li
    color: #fff
    padding: 10px 0
    font-size: 16px
    line-height: 1.6
    display: flex
    justify-content: center
    align-items: center
  &__tick
    width: 30px
    height: 20.58px
    display: block
    margin-right: 10px

.btn-accent.btn-accent_medium
  display: block
  padding: 16px 40px
+media-breakpoint-down($lg)
  .btn-accent.btn-accent_medium
    font-size: 12px
+media-breakpoint-down($md)
  .btn-accent.btn-accent_medium
    padding: 10px 20px

.subscription-plan-item__title.h5
  margin-bottom: 20px


@media (max-width: 1399px)
  .subscription-content
    grid-template-columns: 40% 60%

+media-breakpoint-down($xl)
  .subscription-content
    grid-template-columns: 30% 70%
  .subscription-plan-item
    padding: 30px 15px
  .subscription-content__text-block-title.content-title.h1
    font-size: 40px
  .subscription-plan-item__title.h5
    font-size: 34px

+media-breakpoint-down($lg)
  .subscription-content
    grid-template-columns: 1fr

+media-breakpoint-down($md)
  .subscription-content__plan-block
    grid-template-columns: 1fr
  .subscription-plan-item
    padding: 30px
  .subscription-plan-item__title.h5
    font-size: 24px
  .subscription-plan-item__price-b
    font-size: 24px
  .hero-text-image-section
    text-align: center


.programmes-item__content-text,
.pallet-item-short__content-text,
.recipes-pallet-item__content-text
  overflow: hidden
  display: -webkit-box
  -webkit-line-clamp: 3
  -webkit-box-orient: vertical