@import "_mixins/_media-breakpoints"

    
// Colors

$white-color:           #ffffff
$black-color:           #000000
$accent-color:          #34cdf2
$accent-dark-color:     #03223e


// other

$blackout-img:          linear-gradient(180deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2))
$transition-color:      color 200ms ease, opacity 200ms ease
$transition-all:        all .2s ease-in
$transition-all-long:   transform .5s ease
$bdrs:                  3px
$bx-sh:                 1px 1px 3px 0 rgba(0, 0, 0, 0.2)
$bdrs-pallet:           20px


// @ Media breakpoint

$sm:                    576px
$md:                    768px
$lg:                    992px
$xl:                    1200px
